# URL for Apollo Client HTTP queries and mutations
VITE_GRAPHQL_HTTP_URL=http://localhost:4000/graphql

# URL for Apollo Client WebSocket subscriptions
VITE_GRAPHQL_WS_URL=ws://localhost:4000/graphql
